<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftKick.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B82E09DC1BF62B8C00C32845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B82E09F01BF62B8D00C32845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B82E09FB1BF62B8D00C32845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
